node_modules/
.expo/
.expo-shared/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/
backup/
ai_planner

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local

# Android
android/
# android/app/build/
# android/build/
# android/.gradle/
# android/app/release/
# android/app/debug/
# *.apk
# *.aab
# local.properties

# iOS
ios/Pods/
ios/build/
*.xcworkspace
!default.xcworkspace
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/

# EAS
.eas/
eas.json.backup
